*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
    body{
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
    }
.topnav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    font-family: 'Josefin Sans', sans-serif;
    background: #fff3f0;;
    overflow-x:hidden;
}
.topnav1{
    width: 30%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.topnav1 a{
    text-decoration: none;
    text-transform: uppercase;
}
#taglink{
    background: -webkit-linear-gradient(red, #333);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topnav2{
    width: 50%;
    /* position: absolute;
    left: 54%;
    top: 14%;
    transform: translate(-50% , -50%); */
  }


.search-box{
    width: 100%;
    position: relative;
    display: flex;
    background: rgba(245, 240, 240, 0.562);
  }
  .search-input{
    width: 100%;
    padding: 10px;
    /* border: 4px solid #111d5e; */
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: tomato;
    color: black;
    background: none;
  }
  .search-button{
   text-align: center;
  height: 51px;
  width: 40px;
  outline: none;
  cursor: pointer;
  background-color: rgb(63, 187, 236);
  /* border: 4px solid #111d5e; */
   border-radius: 0 10px 10px 0 ;
  border-left: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  border-left: 2px solid rgb(56, 186, 238);
  }
  .topnav3{
      width: 20%;
      position: relative;
      left: 150px;
  }
  
  
  
  
  

  
nav{
    background-color: rgba(0, 0, 0, 0.692);
    background-color: #fff;
    background-image: linear-gradient(180deg, white, rgb(186, 218, 247));
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid red;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1001;
}



.menu{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 9%;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    padding: 0 14px;
    transition: all .2s ease;
    color: red;
    /* background: -webkit-linear-gradient(red, #333);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}



.menu a::before{
    content: '';
    position: absolute;
    left: 13px;
    top: 100%;
    width: 0%;
    height: 1px;
    padding-top: 1px;
    background: #000;
    transition:  all .4s linear;
    /* transition: all .3s linear; */
    
    
}
.menu a:hover::before{
    width: 90%;
    background:rgb(247, 113, 65);
    background: red;
    padding-top: 1px;
    height: 1px;
}
.menu a:hover{
    color:#7CB9E8;
}


/* main body css start from here */

.mainbody{
    /* position: absolute;
    top:30%;
    left: 3%;
    right: 3%; */
    border: 3px solid blue;
    height: auto;
    background-color: #fff;
    margin:10px 5.5rem;
    background: aliceblue;
    padding-bottom: 4rem;
}

.mbnav{
    /* border: 2px solid red; */
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
    background-color:#fff;
    
}
.mbnav1{
    color: rgb(163, 153, 153);
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 12px;
    margin-left: 10px;
}
.mbnav1 a{
    width: 100%;
    margin-left: 0%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 40px;
    transition: all .2s ease;
    border-radius: 10px;
    
}

.mbnav1 :active{
    color: green;
}

.mbnav2{
    color: black;
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 12px;
    margin-right: 10px;
}

.mbnav2 a{
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 60px;
    transition: all .2s ease;
    
}

/* footer css start  */
 

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 1.5; */
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin-top: auto;
    /* position: fixed; */
    overflow-x: hidden;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    /* width: 100vw; */
    /* height: 50px; */
    background:#a0b4eb;
    background: black;
    color: white;
}
.icons{
    display: flex;
    /* padding: 10px; */
    position: relative;
    top: 1rem;
    left: 30rem;
    margin-bottom: 10px;
}
.icons a{
    padding: 2rem;
    text-decoration: none;

}
.policy{
    margin-bottom: 10px;
}
.policy a{
    position: relative;
    top: .05rem;
    left: 32.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.icons a .fa-instagram,.fa-facebook,.fa-linkedin,.fa-twitter{
    font-size: 1.4rem;
    border: 1px white;
    border-radius: 50%;
}
.icons a .fa-facebook{
    color: #4267B2;
}
.icons a .fa-instagram{
    color:  #cd486b;
}
.icons a .fa-linkedin{
    color: #0077b5;
}
.icons a .fa-twitter{
    color: #1DA1F2;
}
.icons a:hover .fa-facebook{
    color: #769deb;
}
.icons a:hover .fa-instagram{
    color: #f587a4;
}
.icons a:hover .fa-linkedin{
    color: #56bef7;
}
.icons a:hover .fa-twitter{
    color: #5cbefc;
}





/* .postarea{
    /* border: 3px solid brown; 
} */

.postarea{
    overflow-x: hidden;
}
.postarea h1{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* .postarea .subpost0{
    position: relative;
    top: 1px;
    left: 5rem;
}
.subpost .fa-portrait{
    position: relative;
    top: 34px;
    left: 20px;
    font-size: 1.4rem;
}
.subpost #username1{
    position: relative;
    top: 13px;
    left: -39rem;
}
#username1{
    border: 2px solid violet;
    padding: 10px;
} */

.subpost0{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:.3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 10rem;
}
.subpost0{
    border: 2px solid violet;
}
.subpost0 .uicon{
    font-size: 1.5rem;
    padding-right: 1.5rem;
}
.subpost0 .lc{
    margin-left: 38rem;
}

.subpost1{
    margin-left: 2rem;
    margin-top: 0.4rem;
    margin-right: 10rem;
    border: 2px solid violet;
    padding: 3rem;
}

.postarea .seeall{
    position: relative;
    padding: 5px;
    border: 2px solid green;
    margin-top: 4px;
    margin-left: 65%;
    margin-right: 15%;
}
.postarea .seeall a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    transition: .3s;
}
.postarea .seeall a:hover{
    color:red;
}


.nextpage{
    margin-left: 28rem;
    padding: .9rem;
    margin-right: 32rem;
}
.nextpage a{
    text-decoration: none;
    color: green;
    transition: .3s;
    font-size: 1rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nextpage a:hover{
    color: red;
    text-decoration: underline;
}
/* document.getElementById("demo").innerHTML = d; */



/* sub=tren */



.trenbody{
    border: 4px solid blue;
    height: auto;
    background-color: #fff;
    margin:10px 5.5rem;
    background: lightyellow;
    padding-bottom: 4rem;
}



.trending{
    border: 3px solid brown;
}

.trending{
    overflow-x: hidden;
}
.trending h1{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



.trenpost0{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:.3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 10rem;
}
.trenpost0{
    border: 2px solid violet;
}
.trenpost0 .trenuicon{
    font-size: 1.5rem;
    padding-right: 1.5rem;
}
.trenpost0 .trenlc{
    margin-left: 38rem;
}

.trenpost1{
    margin-left: 2rem;
    margin-top: 0.4rem;
    margin-right: 10rem;
    border: 2px solid violet;
    padding: 5rem;
    height: auto;
}


.viewcomm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    border: 2px solid orangered;
    margin-left: 2rem;
    margin-right: 10rem;
    
}
.viewcomm a{
    text-decoration: none;
    margin-left: 15rem;
}
.viewcomm a:first-child{
    margin-left: -3rem;
}





/* enrootingsociety */

.enrootingsociety{
    border: 1px solid rgb(173, 10, 138);
    background-color: rgb(240, 248, 247);
    margin: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.society{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    margin-left: 10px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: orangered;
}
.club1{
    /* border: 2px solid red; */
    width: 25%;
    height: auto;
}
.club2{
    /* border: 2px solid red; */
    width: 25%;
    height: auto;
}
.club3{
    /* border: 2px solid red; */
    width: 25%;
    height: auto;
}
.club4{
    /* border: 2px solid red; */
    width: 25%;
    height: auto;
}
.society img{
    width: 100%;
    height: 200px;
    transform: scale(.9);
    transition: .4s;
}
.society img:hover{
    transform: scale(1);
}

.borbox{
    border:1px solid black;
    padding: 25px;
    margin-top: 10px;
}
.space{
    margin:50px;
}
.left{
    display: flex;
    justify-content: flex-end;
}